body{
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

p{
  font-size: 21px;
  color: gray;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}
